<!DOCTYPE html>
<html>
<head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
<title>New Post</title>
</head>

<body>
<h1 font-size:100>Add a Post</h1>
	<div>
		<form id='create_form' method = 'post'>
		{% csrf_token %}
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}<br>
			{{ field }}
		{% endfor %}

		<input type='submit' name='submit' value="Create a post" />
		</form>
	</div>

</body>

<a href="{% url 'index' %}">To the main page</a>

</html>