<!DOCTYPE html>
<html>
<head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
	<title>Blog</title>

</head>
<body>

<h1> Blog </h1>

{% if alltheposts %}
    <ul>
    {% for blogpost in alltheposts %}
        <li><p>{{ blogpost.post_text }}</p> Posted on {{ blogpost.post_date }}</li><hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
</body>

<a href="{% url 'create' %}">Create a post</a><br>

<a href="{% url 'about' %}">To the 'about' page</a>
</html>

